.container{
  display: flex;
  border: 10px solid black;
  height: 90vh;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.box{
  width: 150px;
  height: 150px;
  font-size: 8em;
  text-align: center;
  border-radius: 15px;
}
#box1{
  background-color: rgb(29, 146, 186);
}
#box2{
  background-color: rgb(27, 170, 27);
}
#box3{
  background-color: rgb(186, 9, 36);
}
#box4{
  background-color: rgb(181, 181, 22);
  align-self: flex-end;
}
