body{
  background-color: rgb(35, 35, 35);
}

.container{
  display: flex;
  border: 10px solid black;
  height: 90vh;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.box{
  width: 150px;
  height: 150px;
  font-size: 8em;
  text-align: center;
  border-radius: 15px;
}
#box1{
  background-color: rgb(29, 146, 186);
}
#box2{
  background-color: rgb(27, 170, 27);
}
#box3{
  background-color: rgb(186, 9, 36);
}
#box4{
  background-color: rgb(181, 181, 22);
  align-self: flex-end;
}
#mybox{
  width: 250px;
  height: 250px;
  border: 5px solid black;
  text-align: center;
  background-color:lightgreen;
  font-size: 12em;
  transform: rotatez(80deg) skew(20deg, 20deg);
} 
#boxy{
  width: 250px;
  height: 250px;
  background-color: red;
  font-size: 12em;
  text-align: center;
}
#boxy:hover{
    animation: glow 5s infinite;
}
@keyframes slide{
  from{transform: translateX(200px)}
  to{transform: translateY(100px)}
}
@keyframes rotate{
  100%{transform: rotate(360deg)}
}
@keyframes biger{
  50%{transform: scale(1.5)}
}
@keyframes fade{
  100%{opacity: 0}
}
@keyframes rgb {
  0%{background-color: rgb(241, 29, 29)}
  20%{background-color: orange}
  40%{background-color: yellow}
  60%{background-color: rgb(56, 243, 56)}
  80%{background-color: rgb(39, 147, 183)}
  100%{background-color: rgb(237, 44, 237)}
}
@keyframes glow {
  0%{box-shadow: 10px 10px 10px rgb(239, 52, 52)}
  20%{box-shadow: 10px 10px 10px orange}
  40%{box-shadow: 10px 10px 10px yellow}
  60%{box-shadow: 10px 10px 10px rgb(56, 243, 56)}
  80%{box-shadow: 10px 10px 10px rgb(39, 147, 183)}
  100%{box-shadow: 10px 10px 10px rgb(237, 44, 237)}
}